// font-family: 'Big Shoulders Display', cursive;
// font-family: 'Lexend Deca', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 95%);
  font-size: 15px;
}

.container {
  width: 90%;
  max-width: 380px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  overflow: hidden;
  h1 {
    color: hsl(0, 0%, 95%);
    font-family: "Big Shoulders Display", cursive;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 18px;
  }
  p {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: "Lexend Deca", sans-serif;
    font-size: 11px;
    line-height: 20px;
    margin-bottom: 15px;
  }
  .sedans {
    background-color: hsl(31, 77%, 52%);
    button {
      color: hsl(31, 77%, 52%);
    }
  }
  .suvs {
    background-color: hsl(184, 100%, 22%);
    button {
      color: hsl(184, 100%, 22%);
    }
  }
  .luxury {
    background-color: hsl(179, 100%, 13%);
    button {
      color: hsl(179, 100%, 13%);
    }
  }
  .sedans,
  .luxury,
  .suvs {
    padding: 30px;
    padding-right: 60px;
    img {
      width: 42px;
      margin-bottom: 17px;
    }
  }
  button {
    border-style: none;
    padding: 10px 24px;
    border-radius: 20px;
    font-family: "Lexend Deca", sans-serif;
    font-size: 11px;
    cursor: pointer;
    font-weight: bold;
  }
}

@media screen and (min-width: 1440px) {
  .row {
    display: flex;
    max-width: 710px;
  }
  button {
    margin-top: 50px;
  }
}
